page-home {
    /* ion-col{//kẻ khung cho các cột
        border: 1px solid gray;
    } */

    @media (max-width: 600px) {// nếu chiều rộng màn hình tối đa là 600px
        .hidden-sm {//có nghĩa là khi chiều rộng màn hình <= 600px
          display: none;// thì ẩn những cột có class là hidden-sm
        }
    }

    @media (min-width: 700px) {// nếu chiều rộng màn hình tối thiểu là 700px
        .hidden-xl {//có nghĩa là khi chiều rộng màn hình >= 700px
          display: none;// thì ẩn những cột có class là hidden-xl
        }
    }

    ion-row:nth-of-type(odd) {// dòng lẻ
        background-color: rgb(211, 161, 161);
    }

    ion-row:nth-of-type(even) {//dòng chẵn
        background-color:rgb(141, 150, 201);
    }

    #header{
        background-color: #FFBE3D;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    #footer{
        background-color: rgb(7, 80, 70);
        text-align: center;
    }
}
